*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
    background: linear-gradient(135deg, #1e1e1e #2a5298);
}

.calculator{
    background: #222;
    border-radius: 20px;
    box-shadow: 0  15px rgba(red, green, blue, alpha);
    padding: 20px;
    width: 320px;
}

.display{
    background: #000;
    color: #00ffcc;
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 20px;
    height: 60px;
    overflow-x: auto;
}

.button{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

button{
    padding: 20px;
    font: size 1.2rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background: #333;
    color: #fff;
}

